/* .book-container {
    display: flex;
    justify-content:space-evenly;
    height: 35vh;
    width: 70vw;
    margin: 0 auto;
  } */

  /* .footer {
    display: flex;
    justify-content: space-evenly;
  } */

