.button {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}

.list {
    list-style-type: none;
}

.catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.home {
    justify-content: center;
    background-color: lemonchiffon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}