.button {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}

.catalog {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.name-container {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    width: 70vw;
    margin: 0 auto;
  }
  
  .stats-container {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    width: 70vw;
    margin: 0 auto;
  }
  
  .player-name {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solidblack;
    width: 10vw;
    height: 10vh;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px black;
    background-color: forestgreen;
    color: whitesmoke;
    font-weight: bold;
    font-size: 24px;
  }
  
  .message-board {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solidblack;
    width: 20vw;
    height: 30vh;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px black;
    background-color: brown;
    color: whitesmoke;
    font-size: 54px;
    font-weight: bold;
  }
  
  .opponent-name {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solidblack;
    width: 10vw;
    height: 10vh;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px black;
    background-color: forestgreen;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
  }